# Виртуальное окружение
/venv
/env
/.venv

# Файл с секретными ключами
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Локальная база данных и данные
/data/
/prompts/
# Файлы IDE и редакторов
.vscode/
.idea/

# Логи
*.log